@viewport {
    zoom: 1.0;
    width: extent-to-zoom;
}

@-ms-viewport {
    zoom: 1.0;
    width: extent-to-zoom;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html
{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

a:link,
a:visited {
    text-decoration: none;
    outline: none;
}

/* ----------------------- */

.burger {
    width: 50%;
    height: auth;
}