@viewport {
    zoom: 1.0;
    width: extent-to-zoom;
}

@-ms-viewport {
    zoom: 1.0;
    width: extent-to-zoom;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html
{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

a:link,
a:visited {
    text-decoration: none;
    outline: none;
}

/* ----------------------- */

body {
    margin: 0;
}

#content {
    background-image: url("salad.jpg");
    background-size: 1920px;
    background-position: 0px -800px;
    
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        'header'
        'main'
        'footer';
}

#content > header {
    grid-area: header;
    background-color: white;
    height: 3em;
}



#content > main {
    grid-area: main;
    overflow: auto;
}

#content > footer {
    grid-area: footer;
    background-color: white;
    height: 6em;
}
